<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Watermine - Basecamp theme from redmine, for
  Drupal</title>
  <meta http-equiv="content-type" content=
  "text/html; charset=us-ascii" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <%= stylesheet_link_tag  "style", "dark" %>

  <!--[if IE]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
    </style>
<![endif]-->
</head>

<body>
  <div id="wrapper">
    <div id="top-menu">
      <div id="account">
        <%= render :partial => 'user_bar' %>
 </div>
<!--      
        <ul class="class" id="id">
          <li><a href="#">My Account</a></li>

          <li><a href="#">Logout</a></li>
        </ul>
      </div>

      <div id="loggedas">
        Logged in as: <a href="foo">Joe Schmoe</a>
      </div> -->

      <ul class="menu">
        <li><a href="#"><strong>&larr;</strong> Site</a></li>

        <li><a href="#">Admin</a></li>

        <li><a href="#">Drupal.org handbooks</a></li>
      </ul>
    </div>

    <div id="header">
      <div id="quick-search">
        <form action="index" method="get">
          <a href="search" accesskey="s">Search</a> <input type=
          "text" name="q" value="" id="q" />
        </form>
      </div>

      <h1>Watermine - Basecamp theme from redmine, for Drupal</h1>

      <div id="main-menu">
        <ul>
          <li><a href="#">Edit Primary menu</a></li>

          <li><a href="#">Another menu-entry</a></li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <div id="sidebar">
        <h3>Watermine</h3><img src="logo.png" alt="logo" class=
        "logo" />

        <p>Making the best admin theme for Drupal</p>

        <dl>
          <dt>Version</dt>

          <dd>6.12</dd>

          <dt>Status</dt>

          <dd>No problems</dd>
        </dl>

        <div class="clear"></div>
        <hr />

        <h3>Filter</h3><a href="#">All</a><br />
        <a href="#">Last</a><br />
        <a href="#">First</a><br />
        <hr />

        <h3>Another Sideblock</h3>
        <hr />
      </div>

      <div id="content">
        <div class="contextual">
          <a href="#">Local task</a> | <a href="#">second local
          task</a>
        </div>

        <h2>Administer</h2>

        <div class="node clearfix">
          <p>The purpose of this HTML is to help determine what
          default settings are with CSS and to make sure that all
          possible HTML Elements are included in this HTML so as to
          not miss any possible Elements when designing a site.</p>
          <hr />

          <h1>Heading 1 (only used in header)</h1>

          <h2>Heading 2 (pagetitle)</h2>

          <h3>Heading 3</h3>

          <h4>Heading 4</h4>

          <h5>Heading 5</h5>

          <h6>Heading 6</h6>

          <p><small><a href="#wrapper">[top]</a></small></p>
          <hr />

          <h3 id="paragraph">Paragraph</h3>

          <p>Lorem ipsum dolor sit amet, <a href="#" title=
          "test link">test link</a> adipiscing elit. Nullam
          dignissim convallis est. Quisque aliquam. Donec faucibus.
          Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam
          libero nisi, imperdiet at, tincidunt nec, gravida
          vehicula, nisl. Praesent mattis, massa quis luctus
          fermentum, turpis mi volutpat justo, eu volutpat enim
          diam eget metus. Maecenas ornare tortor. Donec sed tellus
          eget sapien fringilla nonummy. Mauris a ante. Suspendisse
          quam sem, consequat at, commodo vitae, feugiat in, nunc.
          Morbi imperdiet augue quis tellus.</p>

          <p>Lorem ipsum dolor sit amet, <em>emphasis</em>
          consectetuer adipiscing elit. Nullam dignissim convallis
          est. Quisque aliquam. Donec faucibus. Nunc iaculis
          suscipit dui. Nam sit amet sem. Aliquam libero nisi,
          imperdiet at, tincidunt nec, gravida vehicula, nisl.
          Praesent mattis, massa quis luctus fermentum, turpis mi
          volutpat justo, eu volutpat enim diam eget metus.
          Maecenas ornare tortor. Donec sed tellus eget sapien
          fringilla nonummy. Mauris a ante. Suspendisse quam sem,
          consequat at, commodo vitae, feugiat in, nunc. Morbi
          imperdiet augue quis tellus.</p>

          <p><small><a href="#wrapper">[top]</a></small></p>
          <hr />

          <h3 id="list_types">List Types</h3>

          <h4>Definition List</h4>

          <dl>
            <dt>Definition List Title</dt>

            <dd>This is a definition list division.</dd>
          </dl>

          <h4>Ordered List</h4>

          <ol>
            <li>List Item 1</li>

            <li>List Item 2</li>

            <li>List Item 3</li>
          </ol>

          <h4>Unordered List</h4>

          <ul>
            <li>List Item 1</li>

            <li>List Item 2</li>

            <li>List Item 3</li>
          </ul>

          <p><small><a href="#wrapper">[top]</a></small></p>
          <hr />

          <h3 id="form_elements">Forms</h3>

          <fieldset>
            <br />
            <legend>Legend</legend>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Nullam dignissim convallis est. Quisque aliquam.
            Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet
            sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
            gravida vehicula, nisl. Praesent mattis, massa quis
            luctus fermentum, turpis mi volutpat justo, eu volutpat
            enim diam eget metus.</p>

            <form>
              <h3>Form Element</h3>

              <p>Lorem ipsum dolor sit amet, consectetuer
              adipiscing elit. Nullam dignissim convallis est.
              Quisque aliquam. Donec faucibus. Nunc iaculis
              suscipit dui.</p>

              <p><label for="text_field">Text
              Field:</label></p><input type="text" id=
              "text_field" />

              <p><label for="text_area">Text Area:</label><br />
              <textarea id="text_area">
</textarea></p>

              <p><label for="select_element">Select
              Element:</label></p><select name="select_element">
                <optgroup label="Option Group 1">
                  <option value="1">
                    Option 1
                  </option>

                  <option value="2">
                    Option 2
                  </option>

                  <option value="3">
                    Option 3
                  </option>
                </optgroup>

                <optgroup label="Option Group 2">
                  <option value="1">
                    Option 1
                  </option>

                  <option value="2">
                    Option 2
                  </option>

                  <option value="3">
                    Option 3
                  </option>
                </optgroup>
              </select>

              <p><label for="radio_buttons">Radio
              Buttons:</label></p><input type="radio" class="radio"
              name="radio_button" value="radio_1" /> Radio 1<br />
              <input type="radio" class="radio" name="radio_button"
              value="radio_2" /> Radio 2<br />
              <input type="radio" class="radio" name="radio_button"
              value="radio_3" /> Radio 3<br />

              <p><label for=
              "checkboxes">Checkboxes:</label></p><input type=
              "checkbox" class="checkbox" name="checkboxes" value=
              "check_1" /> Radio 1<br />
              <input type="checkbox" class="checkbox" name=
              "checkboxes" value="check_2" /> Radio 2<br />
              <input type="checkbox" class="checkbox" name=
              "checkboxes" value="check_3" /> Radio 3<br />

              <p><label for=
              "password">Password:</label></p><input type=
              "password" class="password" name="password" />

              <p><label for="file">File
              Input:</label></p><input type="file" class="file"
              name="file" />

              <p><input class="button" type="reset" value=
              "Clear" /> <input class="button" type="submit" value=
              "Submit" /></p>
            </form>
          </fieldset>

          <p><small><a href="#wrapper">[top]</a></small></p>
          <hr />

          <h3 id="tables">Tables</h3>

          <table cellspacing="0" cellpadding="0" class="list">
            <tr>
              <th>Table Header 1</th>

              <th>Table Header 2</th>

              <th>Table Header 3</th>
            </tr>

            <tr>
              <td>Division 1</td>

              <td>Division 2</td>

              <td>Division 3</td>
            </tr>

            <tr class="even">
              <td>Division 1</td>

              <td>Division 2</td>

              <td>Division 3</td>
            </tr>

            <tr>
              <td>Division 1</td>

              <td>Division 2</td>

              <td>Division 3</td>
            </tr>
          </table>

          <p><small><a href="#wrapper">[top]</a></small></p>
          <hr />

          <h3 id="misc">Misc Stuff - abbr, acronym, pre, code, sub,
          sup, etc.</h3>

          <p>Lorem <sup>superscript</sup> dolor
          <sub>subscript</sub> amet, consectetuer adipiscing elit.
          Nullam dignissim convallis est. Quisque aliquam.
          <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit
          amet sem. Aliquam libero nisi, imperdiet at, tincidunt
          nec, gravida vehicula, nisl. Praesent mattis, massa quis
          luctus fermentum, turpis mi volutpat justo, eu volutpat
          enim diam eget metus. Maecenas ornare tortor. Donec sed
          tellus eget sapien fringilla nonummy. <acronym title=
          "National Basketball Association">NBA</acronym> Mauris a
          ante. Suspendisse quam sem, consequat at, commodo vitae,
          feugiat in, nunc. Morbi imperdiet augue quis tellus.
          <abbr title="Avenue">AVE</abbr></p>
          <pre>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus.
Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor.
Donec sed tellus eget sapien fringilla nonummy. <acronym title=
"National Basketball Association">NBA</acronym>
Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
<abbr title="Avenue">AVE</abbr>
          </pre>

          <blockquote>
            <p>&ldquo;This stylesheet is going to help so freaking
            much.&rdquo;<br />
            -Blockquote</p>
          </blockquote>

          <p><small><a href="#wrapper">[top]</a></small><br />
          <!-- End of Sample Content --></p>
        

        <p class="postcontrols"><a class="no comments" href=
        "http://wp-themes.com/?p=36#comments">No Comments</a></p>

        <div class="clear"></div>
      </div><!-- /post -->

      <!-- post -->

      <div id="post-8" class=
      "post hentry category-uncategorized tag-html tag-wordpress">
        <h3><a href="http://wp-themes.com/?p=8" rel="bookmark"
        title="Permanent Link: HTML">HTML</a></h3>
        <!-- story header -->

        <div class="postheader">
          <div class="postinfo">
            <p>Posted by <a href="http://wp-themes.com/?author=1"
            title="Posts by Theme Admin ">Theme Admin</a> in
            <a href="http://wp-themes.com/?cat=1" title=
            "View all posts in Uncategorized" rel=
            "category">Uncategorized</a> on June 21st, 2008</p>
          </div>
        </div><!-- /story header -->

        <div class="postbody entry clearfix">
          <p>What HTML tags would you like to see?</p>

          <p>Let&rsquo;s start with an unordered list:</p>

          <ul>
            <li>One</li>

            <li>Two</li>

            <li>Three</li>

            <li>Four</li>
          </ul>

          <p>And then move on to a more interesting ordered
          list:</p>

          <ol>
            <li>one, two

              <ol>
                <li>buckle my shoe</li>
              </ol>
            </li>

            <li>three, four

              <ol>
                <li>knock at the door</li>
              </ol>
            </li>

            <li>Five, six

              <ol>
                <li>pick up sticks</li>
              </ol>
            </li>

            <li>Seven, eight, lay them straight

              <ol>
                <li>Nine, ten, a big fat hen</li>

                <li>Eleven, twelve, dig and delve</li>

                <li>Thirteen, fourteen, maids a&rsquo;courting</li>

                <li>Fifteen, sixteen, maids in the kitchen</li>

                <li>Seventeen, eighteen, maids a&rsquo;waiting</li>

                <li>Nineteen, twenty, my platter&rsquo;s empty
                &hellip;</li>
              </ol>
            </li>
          </ol>
        </div>

        <p class="tags"><a href="http://wp-themes.com/?tag=html"
        rel="tag">html</a>, <a href=
        "http://wp-themes.com/?tag=wordpress" rel=
        "tag">wordpress</a></p>

        <p class="postcontrols"><a class="comments" href=
        "http://wp-themes.com/?p=8#comments">1 Comment</a></p>

        <div class="clear"></div>
      </div>
    </div>

    <div style="clear:both;"></div>
  </div>

  <div id="footer">
    Footer region
  </div>
</body>
</html>

