<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{SITE TITLE}</title>
  <meta http-equiv="content-type" content=
  "text/html; charset=us-ascii" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <%= stylesheet_link_tag  "style", "dark" %>

  <!--[if IE]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
    </style>
<![endif]-->
</head>

<body>
  <div id="wrapper">
    <div id="top-menu">
      <div id="account">
        <%= render :partial => 'users/user_bar' %>
      </div>

      <ul class="menu">
        <li><a href="#"><strong>&larr;</strong> Site</a></li>

        <li><a href="#">Admin</a></li>

        <li><a href="#">Drupal.org handbooks</a></li>
      </ul>
    </div>

    <div id="header">
      <div id="quick-search">
        <form action="index" method="get">
          <a href="search" accesskey="s">Search</a> <input type=
          "text" name="q" value="" id="q" />
        </form>
      </div>

      <h1>{SITE TITLE}</h1>

      <div id="main-menu">
        <ul>
          <li><a href="#">Edit Primary menu</a></li>

          <li><a href="#">Another menu-entry</a></li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <div id="sidebar">
        <h3>EXAMPLE BLOCK</h3>
          <a href="#">All</a><br />
          <a href="#">Last</a><br />
          <a href="#">First</a><br />
        <hr />

        <h3>ANOTHER EXAMPLE SIDEBLOCK</h3>
        <p>Lorem Ipsum</p>
        <hr />
      </div>

      <div id="content">
        <%= yield %>
        <div class="clear"></div>
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <div id="footer">
    Footer region
  </div>
</body>
</html>

